*
{
  list-style: none;
}

.biddingGrid
{
display:grid;
grid-template-columns: 1fr 1fr 1fr;
background-color: cyan;
}

.primaryDiv
{
background-color:wheat;
}

.secondDiv
{
background-color:wheat;
}

.benchDiv
{
  background-color:wheat;
}

.hide
{
  display:none
}

.winningBid
{
color:white;
}