.blue
{
    color:blue;
}

.formGroup
{
    display:grid;
    padding: .1rem;
    margin: 0;
    max-width: 10%;
}

.formSelect
{
    display:grid;
    padding: 0 .1rem;
}

.formBox
{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1%;
    padding: 0 1.4rem;
    background-color:gray;
    margin: 0;
    padding:0;
    justify-items:center;
}

.submitButton
{
    margin: auto;
    display:inline-block;
    align-items: center;
    color:white;
    background-color:forestgreen;
    margin-right:.5rem;
}

.closingButton
{
    display:inline-block;
    margin-left:.5rem;
}

.buttonDiv
{
text-align: center;
padding: 0;
display:grid;
grid-template-columns: 1fr 1fr;
max-height: 4%;
justify-items:center;
margin-right:1rem;
}

.buttonDiv button
{
    background-color:darkred;
    font-size: 0.78rem;
    padding:0rem 0.1rem;
    color:rgb(251, 255, 194);
}

.buttonDiv button:hover
{
color:gold;
background-color:black;
}



input, label, select {
    display:grid;
}

input
{
    background-color:#bae7f8;
      text-align:center;
      max-width: 50px;
}

select
{
    background-color:#bae7f8;
    text-align:center; 
}

.show
{
    display: inherit;
}

.hide
{
    display: none;
}


