
.playerContainer :hover, .playerContainer :hover *
{
    background-color: black;
    color: white;
    cursor: pointer;
}

.playerContainer
{
    margin:0;
}

button :active
{
    color:red;
}


.qbPlayer 
{
    color: blue;
}

.rbPlayer 
{
    color: green;
}

.wrPlayer 
{
    color: purple;
}

.tePlayer 
{
    color: darkgoldenrod;
}

.dstPlayer 
{
    color: orangered;
}

.kPlayer 
{
    color: red;
}

.upButton
{
    background-color: green;
    color: white;
    align-self: end;
    max-width: 3rem;
}
.downButton
{
    background-color: red;
    color: white;
    align-self: start;
    max-width: 3rem;
}

.hideButton
{
    visibility: hidden;
}



.playerName,.playerPos, .playerRank
{
 justify-self: center;   
}

.playerDiv 
{
    display:grid;
    grid-template-columns: 5% 5% 35% 25% 10% 5% 5%;
    justify-content: center;
    padding: .45rem auto;
    margin:.25rem auto;
}

@media (max-width: 799px)
{

}


@media (min-width: 800px)
{


}
