.containerDiv
{
background-color:white;
max-width:100%;
}

.draftedPlayers
{
  display:grid;
  grid-template-columns: 13% 18% 18% 40%;
}

.draftTypeDiv
{
  /* align-content: center; */
  text-align: center;
  color: blue;
}

.hide
{
  display:none;
}

.show
{
  display: inline;
}

