.draftBanner{
color:blue;
display: grid;
background-color: yellow;
display: inline-flex;
}

.draftBanner div
{
    padding: 0 1rem;
}

.draftDiv{
    display:grid inline-block;
    max-width: 150px;
}

p
{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.show
{
    display: inline-block;
}

.hide

{
    display:none;
}

