.ButtonMenu
{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: left;
}

.center
{
    max-width:10rem;
    text-align: center;
}

.Active
{
    background-color:red;
    color:gold;
}

.hideButton
{
    visibility: hidden;
}

.saveClass
{
    background-color:green;
    color:white;
}